/info.gouv/prix-carburants.json
/info.gouv/PrixCarburants_instantane.xml
/info.gouv/PrixCarburants_instantane.zip
!/info.gouv/
/__pycache__/*
/domain/__pycache__/*
/parsedata/__pycache__/*
/Kivi/__pycache__/*
/.idea/*
/kivy_venv/*
/domain/__init__.py
/build
/build/*
/dist/*
/image/imagecard/*
/cache/*
/test.py
/testeur.py
/distLow-Fuelkivy_gardenmapviewiconsmarker.png
/my_kivy/__pycache__
/parsedata/__pycache__
/domain/__pycache__
/cache
/dist
/.idea
