wget
haversine
geopy
prettytable
colorama
pillow
pyinstaller
requests
kivy
kivy-garden
kivy-garden.mapview
kivy_garden.graph
requests 
pgeocode
wheel
pgeocode
setuptools >= 61.2
packaging >= 21
uuid7
