wget
haversine
geopy
prettytable
colorama
pillow
pyinstaller
requests
kivy
kivy-garden
kivy_garden.graph
--extra-index-url https://github.com/Bit-Scripts/mapview/archive/refs/heads/master.zip
kivy_garden.mapview
requests 
pgeocode
wheel
pgeocode
setuptools >= 61.2
packaging >= 21
uuid7
